<div>
  <button
    type="button"
    {{on "click" this.sendMail}}
  >
    Spam me!
  </button>
</div>
<table>
<thead>
  <tr>
    <th scope="col">Sent at</th>
    <th scope="col">From</th>
    <th scope="col">Subject</th>
  </tr>
</thead>
  <tbody>
    {{#each this.model as |email|}}
    <tr>
      <td><time>{{email.sentDate}}</time></td>
      <td><a href={{email.from}}>{{email.from}}</a></td>
      <td><LinkTo @route="message" @model={{email.id}}>{{email.subject}}</LinkTo></td>
    </tr>
    {{/each}}
  </tbody>
</table>